* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 20px;
  padding: 5px;
}

.diary-section {
  margin: 50px;
}

.diary-header {
  padding: 10px 0 20px 0;
}

.diary-content {
  width: auto;
}
